<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Online_Store_Search.Properties.Settings.OnlineStoreContext"
            connectionString="Data Source=DESKTOP-0QDV03M;Initial Catalog=Universal_Search;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>